
.create-post-wrapper 
    


    .btn-wrapper {
    border: 1px solid rgba(124, 122, 122, 0.2392156863);
    display: block;
    padding: 20px 20px;
    box-shadow: 0px 1px 5px 0px #ddd;
    cursor: pointer;
}